/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
body {
    background: #f4f4f4;
}
@media only screen and (min-width:990px){
    .container{
        max-width:800px !important
    }
}
.ngb-dp-day, .ngb-dp-week-number, .ngb-dp-weekday,.btn-light {
    width: 6rem !important;
    font-size: 12px;
    text-align: center
}
.ngb-dp-weekday{
    color: #7139a0 !important;
}
.ngb-dp-day,.btn-light{
    height:4rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:800px){
    .ngb-dp-day, .ngb-dp-week-number, .ngb-dp-weekday,.btn-light{
        width:4rem !important
    }
    .ngb-dp-day,.btn-light{
        height:4rem  !important
    }
}
@media only screen and (max-width:500px){
    .ngb-dp-day, .ngb-dp-week-number, .ngb-dp-weekday,.btn-light{
        width:2.5rem !important
    }
    .ngb-dp-day,.btn-light{
        height:2rem  !important
    }
}
.bg-primary {
    background-color: #845ba6 !important;
}
.btn-link {
    
    color: #845ba6;
}
.btn-link:hover{
color:#373b50
}