.active{
    background-color:red !important;
}
.disabled{
    color:gray !important;
    pointer-events: none;
    background: #d8d8d8;
}
.page-link{
    cursor:pointer;
    font-size: 12px
    
}
.page-item.active .page-link {
    background-color: #845ba6;
    border-color: #845ba6;
}
nav{
    display: inline-block;
}