<nav aria-label="Page navigation example">
  <ul class="pagination">
      <li class="page-item"><a class="page-link" (click)="first()" [ngClass]="{'disabled':isactive==1}" >First</a></li>
    <li class="page-item"><a class="page-link" (click)="prev()" [ngClass]="{'disabled':isactive==1}" >Previous</a></li>

    <li class="page-item"[ngClass]="{'active':isactive==i  }" (click)="itemChanged($event)" *ngFor="let i of count"><a class="page-link">{{i}}</a></li>

    <li class="page-item"><a class="page-link"(click)="next()" [ngClass]="{'disabled':isactive==no_of_pages}" >Next</a></li>
    <li class="page-item"><a class="page-link" (click)="last()" [ngClass]="{'disabled':isactive==no_of_pages}" >Last</a></li>
   &nbsp; &nbsp;&nbsp;
  </ul>

</nav>
