<div class="container">
    <h2>Task-Details</h2>
    <button class="btn add-btn btn-primary my-1" (click)="AddTaskModel(content)">Add</button>
    <div class="block table-responsive">
  <table class="table table-bordered">
    <tr class="text-center">
      <th>Id</th>
    <th>Task Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Notes</th>  
      <th  *ngIf="TaskValues.length!=0"></th>
      <th  *ngIf="TaskValues.length!=0"></th>
    </tr>
    <tbody *ngIf="TaskValues.length!=0">
      <tr *ngFor="let task of TaskValues">
        <td>{{task.id}}</td>
        <td>{{task.Name}}</td>
        <td>{{task.Description}}</td>
        <td>{{task.TaskStatus}}</td>
        <td>{{task.Notes}}</td>
        <td scope="col"class="text-center"><i class="fas fa-edit " (click)="edit(content,task)"  ></i></td>
        <td scope="col"class="text-center"><i class="far fa-trash-alt"(click)=" DeleteTask(task);"></i></td>
      </tr>
    </tbody>
  </table>
  
    </div>
  </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title m-0" id="modal-basic-title">Task Details</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
            <form novalidate [formGroup]="taskForm"(ngSubmit)="save()"  >
       
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="form_name">Task Name*</label>
                            <input id="form_name" type="text"  class="form-control" placeholder="Please enter task name"   
                            formControlName="taskName"
                            [ngClass]="{'is-invalid' : (taskForm.get('taskName').touched || taskForm.get('taskName').dirty) &&       
                            !taskForm.get('taskName').valid}" autocomplete="off"
                            [(ngModel)]="task.Name">
                            <div class="invalid-feedback">
                                    <span *ngIf="taskForm.get('taskName').errors?.required"> Enter task Name</span>
                                    <span *ngIf="taskForm.get('taskName').errors?.minlength">task name should contain atleast 3 characters</span>
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="form_status">Status*</label>
                            <select id="form_status"  class="form-control" formControlName="status"
                            [ngClass]="{'is-invalid' : (taskForm.get('status').touched || taskForm.get('status').dirty) &&       
                                    !taskForm.get('status').valid}"
                                    [(ngModel)]="task.TaskStatus" >
                                    <option  value="null" hidden> select a status</option>
                                    <option value="Yet to start">Yet to start</option>
                                    <option value="Started">Started</option>
                                    <option value="In-Progress">In-Progress</option>
                                    <option value="Development Completed">Development Completed</option>
                                    <option value="In test">In test</option>
                                    <option value="Testing Completed">Testing Completed</option>
                                    </select>
                                    <div class="invalid-feedback"    >
                                            <span *ngIf="taskForm.get('status').errors?.required"> Select a Project</span>
                                            
                                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="form_description">Description*</label>
                            <textarea id="form_description"  class="form-control" 
                            placeholder="Please enter description "   formControlName="description"
                            [ngClass]="{'is-invalid' : (taskForm.get('description').touched || taskForm.get('description').dirty) &&       
                            !taskForm.get('description').valid}" autocomplete="off"
                            [(ngModel)]="task.Description"></textarea>
                            <div class="invalid-feedback">
                                    <span *ngIf="taskForm.get('description').errors?.required"> Enter description</span>
                                    <span *ngIf="taskForm.get('description').errors?.minlength">Description should contain atleast 10 characters</span>
                                </div>
                        </div>
                    </div>
                  </div>
                <div class="row">
                    <div class="col-sm-6">
                            <div class="form-group">
                                    <label for="form_notes">Notes*</label>
                                    <textarea id="form_notes" class="form-control" formControlName="notes"
                                   [ngClass]="{'is-invalid' : (taskForm.get('notes').touched || taskForm.get('notes').dirty) &&       
                                    !taskForm.get('notes').valid}" placeholder="Please enter notes"
                                    [(ngModel)]="task.Notes"></textarea>
                                    <div class="invalid-feedback">
                                        <span *ngIf="taskForm.get('notes').errors?.required"> Enter Notes</span>
                                        <span *ngIf="taskForm.get('notes').errors?.minlength ">Notes Should Contain minimum 20 characters</span>
                                    </div>
                                    </div>
                                    </div>
            </div>
            
          
      
            <div class="row">
                          <div class="col-2">
                    <input type="submit" class="btn btn-primary mr-3" [disabled]="!taskForm.valid" value="Save">
                    </div>
                    <div class="col-2">
                    <button  class="btn btn-danger"  (click)="d('Cross click')">Cancel</button>
                </div>
                
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <p class="text-muted"><strong>*</strong> These fields are required.</p>
                </div>
          </div>
        </form>
        </div>
      </ng-template>
      
