h2,h4{
    margin:20px 0;
    font-size:20px
}
.add-btn{
    float:right
}
th,td,.btn,form,input,textarea,select,::placeholder{
    font-size: 12px
}
.form-control.is-invalid {
    background: white
}
.fa-edit{
    color:#007bff
}
.fa-trash-alt{
    color:#dc3545;
}
