.navbar span,.navbar a{
    color:white;
    padding: 7px 20px;
    font-size:12px
   
}
.navbar-brand{
    color:white;
    font-size:14px !important;
    padding:0 10px
}
nav{
    background: #845ba6
}
.navbar-nav{
    flex-direction: row
}
.header{
    background: #373b50;
    color: whitesmoke;
    padding: 15px;
}
h1{
    font-size:20px;
    font-weight:400;
    margin:0
}
body {
    background: #f4f4f4;
}
.nav-link:hover,.link:hover{
    color: #c1c1c1 !important;
    text-decoration:none
}
.active{
    background:#7139a0;
    color: white !important;
    text-decoration:none
}
.navbar-light .navbar-nav .active > .nav-link{
    color:white
}
.navbar-light .navbar-nav .show > .nav-link{
color:white
}
.navbar a.link{
    padding: 9px 20px;
}
ul.dropdown-menu.show{
    background: #845ba6;
}
li.dropdown-item:hover{
    background:transparent;
}
li.dropdown-item:hover a{
    color: #c1c1c1 !important;
    text-decoration:none

}
