<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-expand-lg navbar-light p-0 ">
  <div class="container">
    <a class="navbar-brand p-0" href="#">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-between " id="navbar">
      <ul class="navbar-nav ">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <div class="create" ngbDropdown>
            <a class="nav-link" ngbDropdownToggle  id="dropdownMenu1">
            Settings
            </a>
            <ul ngbDropdownMenu  aria-labelledby="dropdownMenu1">
              <li ngbDropdownItem><a routerLink="/users">Users</a></li>
              <li ngbDropdownItem><a routerLink="/project">Project</a></li>
 
            </ul>
            </div>
        </li>
         
        <li routerLinkActive="active" class="nav-item">
          <a routerLink="/task" class="nav-link">Task</a>
        </li>
        
      </ul>
      <ul class="navbar-nav ">
        <li><span>Welcome, User</span></li>
        <li ><a routerLink="/home" class="link">Logout</a></li>
      </ul>
    </div>
    </div>
  </nav>

<div class="header">
  <div class="container">
  <h1> <i class="fas fa-cog mr-3"></i>Dashboard</h1>
  </div>
</div>
<router-outlet></router-outlet>
