<div class="container">
    <h2>User-Details</h2>
    <form id="search-form" class="d-inline">
    
    <input type="search" [(ngModel)]="search" autocomplete="off" name="search"  class="form-control d-inline col-sm-8"> 
    <span id="search-btn"><i class="fas fa-search"></i> </span>
    </form>
  <button class="btn add-btn btn-primary my-1" (click)="AddUserModal(content)">Add</button>
  <div class="block table-responsive">
<table class="table table-bordered">
  <tr>
        <th  (click)="sortTable('id')">Id<i class="fas fa-sort ml-1"></i></th>

  <th (click)="sortTable('FirstName')">First Name <i class="fas fa-sort ml-1"></i></th>
  <th  (click)="sortTable('LastName')">Last Name <i class="fas fa-sort ml-1"></i></th>
  <th  (click)="sortTable('UserName')">Username <i class="fas fa-sort ml-1"></i></th>
  <th  (click)="sortTable('EmailId')">Email ID <i class="fas fa-sort ml-1"></i></th>  
  <th  (click)="sortTable('Project')">Project <i class="fas fa-sort ml-1"></i></th>
  <th  (click)="sortTable('Role')">Role <i class="fas fa-sort ml-1"></i></th>
  <th  *ngIf="UserValues.length!=-1" ></th>
  <th  *ngIf="UserValues.length != -1"></th>

  
  </tr>
  <tbody *ngIf="UserValues.length !=-1">
  <tr *ngFor="let data of temparray | filter : search| sortingUser:field:order; let i=index;">
      
    <td scope="col">{{data.id}}</td>
    <td scope="col">{{data.FirstName}}</td>
    <td  scope="col">{{data.LastName}}</td>
    <td  scope="col">{{data.UserName}}</td>
    <td  scope="col"style="text-transform:none">{{data.EmailId}}</td>
    <td  scope="col">{{data.Project}}</td>
    <td  scope="col" >{{data.Role}}</td>
    <td scope="col"class="text-center"><i class="fas fa-edit " (click)="edit(content,data)"  ></i></td>
    <td scope="col"class="text-center"><i class="far fa-trash-alt"(click)=" DeleteUserData(data);"></i></td>


  </tr>
</tbody>
</table>
</div>
<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title m-0" id="modal-basic-title">User Details</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
                <form  [formGroup]="userForm"(ngSubmit)="save();"  >
   
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_name">First Name*</label>
                                    <input id="form_name" type="text"  class="form-control" placeholder="Please enter your first name"   
                                    formControlName="firstName"
                                    [ngClass]="{'is-invalid' : (userForm.get('firstName').touched || userForm.get('firstName').dirty) &&       
                                    !userForm.get('firstName').valid}" autocomplete="off"
                                    [(ngModel)]="user.FirstName"
                                    
                                   >
                                    <div class="invalid-feedback">
                                            <span *ngIf="userForm.get('firstName').errors?.required"> Enter First Name</span>
                                            <span *ngIf="userForm.get('firstName').errors?.minlength">First name should contain atleast 3 characters</span>
                                        </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_lastName">Last Name*</label>
                                    <input id="form_lastName" type="text"  class="form-control" 
                                    placeholder="Please enter your last name "   formControlName="lastName"
                                    [ngClass]="{'is-invalid' : (userForm.get('lastName').touched || userForm.get('lastName').dirty) &&       
                                    !userForm.get('lastName').valid}" autocomplete="off"
                                    [(ngModel)]="user.LastName"
                                    >
                                    <div class="invalid-feedback">
                                            <span *ngIf="userForm.get('lastName').errors?.required"> Enter Last Name</span>
                                            <span *ngIf="userForm.get('lastName').errors?.minlength">Last name should contain atleast 3 characters</span>
                                        </div>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                                <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="form_username">Username*</label>
                                            <input id="form_username" type="text"  class="form-control" 
                                            placeholder="Please enter your username"  formControlName="userName"
                                            [ngClass]="{'is-invalid' : (userForm.get('userName').touched || userForm.get('userName').dirty) &&       
                                            !userForm.get('userName').valid}" autocomplete="off"
                                            [(ngModel)]="user.UserName"
                                           >
                                            <div class="invalid-feedback">
                                                    <span *ngIf="userForm.get('userName').errors?.required"> Enter Username</span>
                                                    <span *ngIf="userForm.get('userName').errors?.minlength">Username should contain atleast 3 characters</span>
                                                </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="form_email">Email-Id*</label>
                                            <input id="form_email" type="email" name="email" class="form-control" 
                                            placeholder="Please enter your email" formControlName="emailId"
                                            [ngClass]="{'is-invalid' : (userForm.get('emailId').touched || userForm.get('emailId').dirty) &&       
                                            !userForm.get('emailId').valid}" autocomplete="off"
                                            [(ngModel)]="user.EmailId"
                                           >
                                            <div class="invalid-feedback"    >
                                                    <span *ngIf="userForm.get('emailId').errors?.required"> Enter Email-Id</span>
                                                    <span *ngIf="userForm.get('emailId').errors?.email">Enter Valid Email Id</span>
                                                </div>
                                        </div>
                                    </div>
                        </div>
                          <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_projects">Project*</label>
                                    <select id="form_projects"  class="form-control" formControlName="projects"
                                    [ngClass]="{'is-invalid' : (userForm.get('projects').touched || userForm.get('projects').dirty) &&       
                                            !userForm.get('projects').valid}" placeholder="Select Project" 
                                            [(ngModel)]="user.Project"
                                            >
                                            
                                            <option value="Project-1">Project-1</option>
                                            <option value="Project-2">Project-2</option>
                                            <option value="Project-3">Project-3</option>
                                            </select>
                                            <div class="invalid-feedback"    >
                                                    <span *ngIf="userForm.get('projects').errors?.required"> Select a Project</span>
                                                    
                                                </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="form_role">Role*</label>
                                    <select id="form_role"  class="form-control" formControlName="role"
                                    [ngClass]="{'is-invalid' : (userForm.get('role').touched || userForm.get('role').dirty) &&       
                                            !userForm.get('role').valid}" placeholder="Select Role"
                                            [(ngModel)]="user.Role" 
                                           >
                                            
                                            <option value="developer">Developer</option>
                                            <option value="tester">Tester</option>
                                            <option value="manager">Manager</option>
                                            </select>
                                            <div class="invalid-feedback"    >
                                                    <span *ngIf="userForm.get('role').errors?.required"> Select a Role</span>
                                                    
                                                </div>
                                </div>
                            </div>
                        </div>
      
            <div class="row">
                          <div class="col-2">
                    <input type="submit" class="btn btn-primary mr-3" [disabled]="!userForm.valid" value="Save">
                    </div>
                    <div class="col-2">
                    <button  class="btn btn-danger"  (click)="d('Cross click')">Cancel</button>
                </div>
                
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <p class="text-muted"><strong>*</strong> These fields are required.</p>
                </div>
          </div>
        </form>
        </div>
      </ng-template>
      
    
      
     <app-pagination [size]="Size" [check]="check"(Value)="myfunction($event)"></app-pagination>
     <select (change)="ChangeDataSize($event)"   class="mx-2">
            <option selected>2</option>
            <option>5</option>
            <option>10</option>
          </select>
  </div>

    

