h2,h4{
    margin:20px 0;
    font-size:20px
}
.add-btn{
    float:right;
    font-size: 12px;
}
td{
    text-transform: capitalize
}
th,td,.btn,form,input,select{
    font-size: 12px;
}
.fa-edit{
    color:#007bff
}
.fa-trash-alt{
    color:#dc3545;
}
th i{
    cursor: pointer;
}

.form-control.is-invalid {
    background: white;
    color:black
}
#search-form input{
    float: left;
    width:150px;
    transition:0.5s;
    border-color:#845ba6;

}
#search-form input:focus{
    width: 250px;
 
    box-shadow: 0 0 0 0.1rem #c3b4d0;
    border-color:#845ba6
}
#search-btn{
    left: -20px;
    position: relative;
    top: 2px;
    cursor: pointer;
    color: #845ba6;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
